Package: com.thecasle.astsetup
Name: astSetup
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome framework of some sort!!
Maintainer: Jake Kaslewicz
Author: Jake Kaslewicz
Section: System
Tag: role::developer
